<% include ../partials/header.ejs %>

<div id="main-container" class="container">
  <div class="row">
    <div class="col-lg-3">
        <div class="border rounded index-column shadow p-3 mb-5 bg-white rounded">
            <h4>To-do List</h4>
            
            <% todo.forEach(function(todo){ %>
                <% if(todo.isCompleted === false){ %>
                    <form class="form-inline" id="complete" action="/todo/<%= todo._id %>?_method=PUT" method="POST">
                        <button type="submit" class="btn btn-sm btn-info mb-2 todo-button"><i class="fas fa-check"></i></button>
                        <%= todo.item %>
                    </form>
                <% } %>
            <% }); %>
                
            <form class="form-group" action="/todo" method="POST">
                <div class="field">
                    <input class="form-control form-control-sm" type="text" name="todo[item]" placeholder="What do you need to do?">
                </div>
                <input class="form-control btn btn-sm btn-info" type="submit" value="Add new item">
            </form>
            
            <hr>
            
            <h4>Completed Tasks</h4>
                
            <% todo.forEach(function(todo){ %>
                <% if(todo.isCompleted === true){ %>
                    <form class="form-inline" id="delete" action="/todo/<%= todo._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-sm btn-danger mb-2 todo-button"><i class="fas fa-trash-alt"></i></button>
                        <%= todo.item %>
                    </form>
                <% } %>
            <% }); %>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="border rounded index-column shadow p-3 mb-5 bg-white rounded">
            <h2><%= journal.title %></h3>
            <img src="<%= journal.image %>" class="img-fluid" alt="Journal Image">
            <p><%= journal.body %></p>
            <a class="btn btn-info" href="/journals/<%= journal._id %>/edit">Edit</a>
            <form class="delete-form" id="delete" action="/journals/<%= journal._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
  </div>
</div>

<% include ../partials/footer.ejs %>